@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* 
.jetbrains-mono-<uniquifier> {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

/* Main Stuff */
.center_main{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ====================================== */

/* Header */
.header{
    display: flex;
    position: absolute;
    z-index: 99;
    width: 75%;
    justify-self: center;
    margin-top: 3em;
    margin-right: 1.5em;
}

/* Header logo */
.img_logo{height: 3em;}


.h-txt{
    color: #e60000;
    font-size: 14px;
    letter-spacing: 0.13em;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-top: 1em;
    padding-left: 1em;
}
/* ====================================== */
/* Logoo */
.logo{
    position: absolute;
    z-index: 1;
    width: 35vw;
    height: 35vh;
    aspect-ratio: 1;
    object-fit: contain;
    opacity: 30%;
}

/* ====================================== */
/*  Grid pattern  */
.grid-pattern {

    background-size: 35px 35px;
    width: 80vw;
    height: 80vh;
    background-color: #1a0000;


    background-repeat: round;

    border: 2px #800000 solid;
    

    background-image: 
      linear-gradient(to right, rgba(128, 0, 0, .5) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(128, 0, 0, .5) 1px, transparent 1px);
}


/* Grid stuff */
.main_parent{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
    width: 80%;
    height: 80%;
    /* background-color: lavenderblush; */
    z-index: 1;
}

/* ====================================== */
/* Too much grid bullshit broo */
.secs1 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
    /* background-color: coral; */
}

.secs2 {
    grid-column: span 3 / span 3;
    grid-row: span 7/ span 7;
    grid-column-start: 1;
    grid-row-start: 4;
    /* background-color: yellow; */
}

.secs3 {
    grid-column: span 2 / span 2;
    grid-row: span 1 / span 10;
    grid-column-start: 4;
    grid-row-start: 1;
    /* background-color: green; */
}

.secs4 {
    grid-column: span 4 / span 5;
    grid-row: span 4 / span 4;
    grid-column-start: 6;
    grid-row-start: 1;
    /* background-color: blueviolet; */
}

.secs5 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 6;
    grid-row-start: 5;
    /* background-color: cornflowerblue; */
}

.secs6 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 6;
    grid-row-start: 7;
    /* background-color: crimson; */
}


/* Designs */
.coner_ui_top{
    justify-self: center;
    width: 80%;
    height: 80dvh;
    position: absolute;
    display: flex;
    z-index: 100;
    margin-top: 6.5em;
    
    img{
        width: 6em;
        height: 8em;
    }
}

 .coner_ui_bottom{
    justify-self: center;
    width: 80%;
    height: 80dvh;
    position: absolute;
    display: flex;
    z-index: 101;
    margin-top: 6.5em;
    align-items: flex-end;
    flex-direction: row-reverse;
    
 
    
    img{
        width: 6em;
        height: 8em;
    }
} 